*{
    margin: 0px;
    margin: auto;
    padding: 0px;
}


.bg-img{
    background: url('image/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1427px;
    width: 100%;
}





/* header */
.header{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid red;
}

.h1{
    float: right;
    margin: 5px;
}

.h1 a{
    font-size: 25px;
    text-decoration: none;
    color: white;
}





/* second header */

.second-header{
    height: 40px;
    width: 100%;
    
    border: 1px solid black;
    background: red;
}

.second-header ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.second-header ul a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 6px 7px;
    line-height: 45px;
}

.second-header ul a:hover{
    color: #55ffff;
    border: 2px solid #55ffff;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 5px 5px 5px 1px black;
}





/* Data table */
.block-one{
    height: 155px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    margin: auto;
    background-color: rgb(0,0,0,0.5);
    
}


.block-one img{
    margin: 4px;
    margin: auto;
    
}


.claim{
    height: 30px;
    width: 100%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    display: flex;
    margin: auto;
    background-color: rgb(0,0,0,0.5);
}

.claim div a{
    text-decoration: none;
    color: red;
    padding: 0px 20px;
    font-weight: bold;
    font-size: 20px;
}

.footer{
    height: 40px;
    width: 100%;
    background: black;
    color: white;
    margin: auto;
    text-align: center;
    line-height: 46px;
    font-size: 14px;
}
